body{
	font-family: Arial;
	font-size: 14px;
	margin: 0;
}
div, p, form, input, a, span, button {
	box-sizing: border-box;
}
ul, li {
	display: block;
}
a{
	display: block;
}
a, a:hover, a:active {
	text-decoration: none;
}
header{
	background: url(../img/header_bac.png) no-repeat center top / cover;
	background-position: 0 100px;
}
.menu-row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 45px;
	padding-bottom: 42px;
}
.menu{
	margin: 0px;
	display: flex;
	flex-direction: row;
}
.menu-item{
	border: 2px solid white;
	padding: 8px 8px;
	font-size: 20px;
	font-weight: normal;
	color: black;
}
.menu li a {
	color: black;
}
.menu li:hover{
	border: 2px solid #da6f5b;
	overflow: hidden; 
}
.offer{
	text-align: center;
	margin-top: 185px;
	color: white
}
.offer h1{
	font-family: Roboto;
	font-size: 55px;
	text-transform: uppercase;
}
.offer p{
	font-family: Tahoma;
	font-size: 22px;
	margin-top: 35px;
}
.offer-buttons{
	margin-top: 110px;
	margin-bottom: 185px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.offer-button{
	padding: 18px 23px;
	margin-left: 12px;
	margin-right: 12px;
	font-weight: bold;
	font-size: 20px;
	color: white;
	border: 4px solid white;
}
.offer-button:hover{
	color: white;
	border: 4px solid #da6f5b;
	background-color: #da6f5b;
}
.info{
	text-align: center;
	align-items: center;
}
.info-text h2{
	margin-top: 120px;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-family: Roboto;
	font-weight: bold;
	font-size: 35px;
	color: #111343;
}
.info-text p{
	font-size: 15px;
	margin-bottom: 36px;
}
.info-item img{
	margin-bottom: 34px;
}
.info-item h3{
	font-family: Roboto;
	font-weight: bold;
	font-size: 20px;
	color: #111343;
	margin-bottom: 25px;
}
.info-item p{
	font-size: 15px;
	margin-bottom: 142px;
}
.team{
	align-items: center;
	text-align: center;
}
.team-text h2{
	margin-bottom: 35px;
	text-transform: uppercase;
	font-family: Roboto;
	font-weight: bold;
	font-size: 35px;
	color: #111343;
}
.team-item img{
	margin-bottom: 34px;
}
.team-text p{
	font-size: 15px;
	margin-bottom: 123px;
}
.team-item h3{
	font-family: Roboto;
	font-weight: bold;
	font-size: 20px;
	color: #111343;
	margin-bottom: 10px;
}
.team-item p{
	font-size: 15px;
}
.contact{
	margin-top: 150px;
	align-items: center;
	text-align: center;
	background: url(../img/form_bg.png) no-repeat center top / cover;
}
.contact-text h2{
	margin-top: 121px;
	text-transform: uppercase;
	font-family: Roboto;
	font-weight: bold;
	font-size: 35px;
	color: white;
}
.contact-text p{
	font-size: 15px;
	margin-bottom: 51px;
	color: white;
}
.input-row1{
	border-radius: 15px;
	height: 82px;
	font-size: 20px;
	margin-bottom: 30px;
}
.textarea{
	border-radius: 15px;
	font-size: 20px;
}
.form-button{
	padding: 27px 80px;
	background-color: white;
	font-weight: bold;
	color: black;
	text-transform: uppercase;
	font-size: 20px;
	border-radius: 15px;
	margin-bottom: 116px;
	margin-top: 33px;
}
footer .container{
	text-align: center;
}
footer .container p{
	margin-top: 55px;
	margin-bottom: 63px;
	font-weight: bold;
	font-size: 15px;
}


.animated {
    opacity: 0;
}
#slider{
	display: flex;
}
.team-item{
	margin-right: 30px;
}
.slick-prev:before{
    font-size: 50px;
    color: #111343;
    position: absolute;
    left: -60px;
   	top: -80px;
}
.slick-next:before{
	font-size: 50px;
    color: #111343;
    position: absolute;
	top: -80px;
}
.slick-dots {
	margin-left:-20px;
}
.slick-dots li button{
	border: 1px solid #111343;
	font-size: 20px;
	background: #111343;
	color: #fff;
}
@media screen and (max-width: 768px) {

}
@font-face {
font-family: "Roboto";  
src: url("fonts/Roboto-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
	header{
	background-position: 0 400px;
	}
	.menu{
		flex-direction: column;
		text-align: right;
	}
	.offer h1{
		font-size: 32px;
	}
	.offer-buttons{
		flex-direction: column;
	}
	#hire{
		margin-top: 20px;
		padding: 18px 35px;
	}
	.team-item img{
		width: 100%;
	}
}